absl-py==1.4.0
Adafruit-Blinka==8.19.0
adafruit-circuitpython-busdevice==5.2.4
adafruit-circuitpython-requests==1.13.2
adafruit-circuitpython-sd==3.3.18
adafruit-circuitpython-typing==1.9.2
Adafruit-PlatformDetect==3.45.1
Adafruit-PureIO==1.1.10
aenum==3.1.15
altair==4.2.2
altair-data-server==0.4.1
altair-viewer==0.4.0
appdirs==1.4.4
APScheduler==3.10.4
asgiref==3.6.0
astunparse==1.6.3
attrs==23.1.0
azure-core==1.29.4
azure-storage-blob==12.17.0
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
cachetools==5.3.0
case-conversion==2.1.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
clipboard==0.0.4
colorama==0.4.6
colour==0.1.5
contourpy==1.0.7
cryptography==41.0.3
cursor==1.3.5
cycler==0.11.0
dacite==1.8.1
decorator==4.4.2
dill==0.3.7
docopt==0.6.2
elements==0.3.2
entrypoints==0.4
et-xmlfile==1.1.0
Faker==18.9.0
favicon==0.7.0
flatbuffers==23.3.3
fonttools==4.39.3
fuzzywuzzy==0.18.0
gast==0.4.0
gender-guesser==0.4.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.0
h5py==3.8.0
htbuilder==0.6.1
html-text==0.5.2
htmlmin==0.1.12
idna==3.4
ImageHash==4.3.1
imageio==2.28.1
imageio-ffmpeg==0.4.8
importlib-metadata==6.6.0
infi.systray==0.1.12
inflect==7.0.0
isodate==0.6.1
jax==0.4.8
Jinja2==3.1.2
joblib==1.1.1
jsonschema==4.17.3
keras==2.12.0
kiwisolver==1.4.4
libclang==16.0.0
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
markdownlit==0.0.7
MarkupSafe==2.1.2
matplotlib==3.7.1
maybe-else==0.2.1
mbstrdecoder==1.1.3
mdurl==0.1.2
missingno==0.5.2
ml-dtypes==0.1.0
more-itertools==9.1.0
moviepy==1.0.3
msoffcrypto-tool==5.1.1
multimethod==1.9.1
mysql==0.0.3
mysql-connector-python==8.0.33
mysqlclient==2.1.1
networkx==3.1
numerize==0.12
numpy==1.23.5
O365==2.0.28
oauthlib==3.2.2
office365==0.3.15
olefile==0.46
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==1.5.3
pandas-profiling==3.2.0
pandas-select==0.1.7
parsedatetime==2.6
pathmagic==0.3.14
patsy==0.5.3
phik==0.12.3
Pillow==9.5.0
pipreqs==0.4.13
plotly==5.14.1
plotly-express==0.4.1
portpicker==1.6.0
prettierfier==1.0.3
prettytable==3.7.0
proglog==0.1.10
protobuf==3.20.3
psutil==5.9.5
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.7
pydeck==0.8.1b0
pydub==0.25.1
pyecharts==2.0.3
pyftdi==0.54.0
Pygments==2.15.1
pyinstrument==4.5.3
pyiotools==0.3.18
pymdown-extensions==10.0.1
pymiscutils==0.3.14
Pympler==1.0.1
pyparsing==3.0.9
PyPDF2==3.0.1
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyrsistent==0.19.3
pyserial==3.5
pysubtypes==0.3.18
python-dateutil==2.8.2
python-decouple==3.8
python-docx==0.8.11
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyusb==1.2.1
PyWavelets==1.4.1
PyYAML==6.0
readchar==4.0.5
regex==2023.8.8
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.3.5
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.2
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
soupsieve==2.4.1
sqlparse==0.4.4
st-annotated-text==4.0.0
statsmodels==0.14.0
streamlit-aggrid==0.3.4.post3
streamlit-apexjs==0.0.3
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-echarts==0.4.0
streamlit-elements==0.1.0
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-on-Hover-tabs==1.0.1
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
stringcase==1.2.0
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.2
termcolor==2.3.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.3.1
tqdm==4.65.0
typeguard==2.13.3
typepy==1.3.1
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3
urllib3==1.26.15
validators==0.20.0
visions==0.7.4
watchdog==3.0.0
wcwidth==0.2.6
Werkzeug==2.2.3
wordcloud==1.9.2
wrapt==1.14.1
xlrd==2.0.1
XlsxWriter==3.1.0
yarg==0.1.9
zipp==3.15.0
